.search-bar-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    background-color: hsl(0, 0%, 100%);
    margin: 2rem 5vw;
    border-radius: 10px;
}

.search-icon {
    color: hsl(0, 0%, 52%);
    margin: 0 1.3rem 0 1.5rem;
}

#country-search {
    width: 90%;
    margin-left: auto;
    border: none;
    outline: none;
    color: hsl(0, 0%, 52%);
}