header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background-color: var(--element-bg-color);
    height: 5rem;
}

.page-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.mode-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.mode-icon {
    font-size: 18px;
}

.color-mode {
    margin-left: .2rem;
}

.color-mode::first-letter {
    text-transform: uppercase;
}

@media only screen and (min-width: 1100px) {

}